.DS_Store
*.txt
*.log
*.ps
*.pdf
*.out
lfit_fake
lfit.csh
params/colourevo
params/convert
params/incl
params/nauenberg
params/newParams
params/newParams_safe
params/params
params/stellar_calcs
params/wd_params
lfit
discEclipse
*.pyc
*.a
python/*.so
python/build
python/gfit.in
python/lfit.cpp
python/test
python/testWD.py
